<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Kolerions Group -from Guidance to Growth">
    <meta name="author" content="Kolerions Group -from Guidance to Growth">

    <!-- Favicon and touch Icons -->
    <link href="/img/logo.png" rel="shortcut icon" type="image/png">
    <link href="/img/apple-touch-icon.html" rel="apple-touch-icon">
    <link href="/img/apple-touch-icon-72x72.html" rel="apple-touch-icon" sizes="72x72">
    <link href="/img/apple-touch-icon-114x114.html" rel="apple-touch-icon" sizes="114x114">
    <link href="/img/apple-touch-icon-144x144.html" rel="apple-touch-icon" sizes="144x144">

    <!-- Page Title -->
    <title>Kolerions-about</title>

    <!-- Styles Include -->
    <link rel="stylesheet" href="/css/main.css">

</head>


<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader-inner">
            <div class="spinner"></div>
            <div class="loading-text">
                <span data-preloader-text="K" class="characters">K</span>

                <span data-preloader-text="O" class="characters">O</span>

                <span data-preloader-text="L" class="characters">L</span>

                <span data-preloader-text="E" class="characters">E</span>

                <span data-preloader-text="R" class="characters">R</span>

                <span data-preloader-text="I" class="characters">I</span>

                <span data-preloader-text="O" class="characters">O</span>

                <span data-preloader-text="N" class="characters">N</span>
            </div>
        </div>
    </div>


    <!-- Main Header -->
    <header class="header">
        <!-- Top Bar -->
        <div class="header-top">
            <div class="container">
                <div class="d-none d-xl-flex justify-content-between align-items-center flex-wrap">
                    <!-- Left Box -->
                    <div class="left-box d-flex align-items-center">
                        <!-- Social Box -->
                        <div class="social-box">
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=61570112011468" target="_blank"
                                        class="bi bi-facebook"></a></li>
                                <li><a href="https://www.instagram.com/kolerionsgroup/" target="_blank" class="bi bi-instagram"></a>
                                </li>
                                <li><a href="https://www.twitter.com/" class="bi bi-twitter-x"></a></li>
                                <li><a href="https://www.linkedin.com/" class="bi bi-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Right Box -->
                    <div class="right-box d-flex align-items-center">
                        <ul class="info-list">
                            <li><a href="mailto:info@kolerionsgroup.com"><span
                                        class="icon bi bi-envelope-fill"></span>info@kolerionsgroup.com </a></li>
                            <li><a href="/"><span class="icon bi bi-geo-alt-fill"></span>Northampton, UK</a></li>
                        </ul>

                        <!-- Button Box -->
                        <div class="button-box">
                            <a href="tel:+447349104585" class="btn active clearfix">
                                <span><img src="/img/icon_chat.png" alt="chat icon"></span>
                                <span class="btn-wrap">
                                    <span class="text-first">+44 7349104585</span>
                                    <span class="text-second">+44 7349104585</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lower Bar -->
        <div class="header-inner">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <!-- Left Part -->
                    <div class="header_left_part d-flex align-items-center">
                        <div class="logo">
                            <a href="/" class="light_logo"><img src="/img/logo.png" alt="logo"></a>
                        </div>
                    </div>

                    <!-- Right Part -->
                    <div class="header_right_part d-flex align-items-center">
                        <div class="mainnav d-none d-xl-block">
                            <ul class="main-menu">
                                <li><a href="/">Home</a>
                                </li>
                                <li class="menu-item menu-item-has-children"><a href="/services">Services</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="/recruiting">Recruiting</a></li>
                                        <li class="menu-item"><a href="/visa-support">Visa Support</a></li>
                                        <li class="menu-item"><a href="/technical-support">Technical/Customer Assist
                                                Support</a></li>
                                        <li class="menu-item"><a href="/legal-accounting">Legal and Accounting</a>
                                        </li>
                                        <li class="menu-item"><a href="/study-abroad">Study Abroad</a></li>
                                        <li class="menu-item"><a href="/accommodation">Accommodation</a></li>
                                        <li class="menu-item"><a href="/tours-travels">Global Tours and
                                                Travels</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/about">About Us</a>
                                </li>
                                <li><a href="/blogs">Blogs</a>
                                </li>
                                <li><a href="/contact">Contact Us</a>
                                </li>

                            </ul>
                        </div>

                        <div class="header_search">

                        </div>

                        <button class="aside_open">
                            <img src="/img/icon_grid.png" alt="img">
                        </button>

                        <button type="button" class="mr_menu_toggle d-xl-none">
                            <i class="bi bi-list"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Main Header -->

    <!-- Mobile Responsive Menu -->
    <div class="mr_menu">
        <button type="button" class="mr_menu_close"><i class="bi bi-x-lg"></i></button>
        <div class="logo"></div>
        <div class="mr_navmenu"></div>
    </div>

    <!-- Aside Info -->
    <div class="aside_info_wrapper">
        <button class="aside_close"><i class="bi bi-x-lg"></i></button>
        <div class="aside_logo">
            <a href="/"><img src="/img/logo.png" alt="logo"></a>
        </div>
        <div class="aside_info_inner">

            <h5>About Us</h5>

            <p>Kolerion is a full-service consultation firm with record of winning many successful campaigns. For a
                growing business firm we provide market research & competitor analysis before a product launch in
                market.</p>

            <div class="aside_info_inner_box">
                <h5>Contact Info</h5>
                <p><a href="mailto:info@kolerionsgroup.com">info@kolerionsgroup.com</a></p>
                <p><a href="tel:+447349104585">+44 7349104585</a></p>
                <p>Northampton, UK</p>
            </div>
            <div class="social_sites">
                <ul class="d-flex align-items-center justify-content-center">
                    <li><a href="https://www.facebook.com/profile.php?id=61570112011468" target="_blank"><i
                                class="bi bi-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="bi bi-twitter-x"></i></a></li>
                    <li><a href="https://www.instagram.com/kolerionsgroup/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Main Wrapper-->
    <main class="wrapper">
        <!-- Page Header -->
        <div class="wptb-page-heading" style="background-image: url('/img/background/bg-5.jpg');">
            <div class="container">
                <div class="wptb-item--inner">
                    <h2 class="wptb-item--title " style="color: #257731;">About Us</h2>
                    <div class="wptb-breadcrumb-wrap">
                        <ul class="wptb-breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li><span style="color: #257731;">About Us</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Intro -->
        <section class="wptb-intro-one pb-0">
            <div class="container">
                <div class="wptb-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wptb-item--inner">
                                <h6 class="wptb-item--subtitle">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M14.9119 2.10726L0.787131 7.08487C0.559931 7.16487 0.509531 7.36087 0.779131 7.46806L3.81593 8.68486L5.61593 9.40566L14.4031 2.95286C14.5215 2.86646 14.6575 3.02886 14.5719 3.12166L8.27513 9.93207V9.93366L7.91353 10.3361L8.39273 10.5937L12.3783 12.7393C12.6111 12.8641 12.9127 12.7609 12.9799 12.4721L15.3047 2.45206C15.3679 2.17766 15.1863 2.01046 14.9119 2.10726ZM5.59993 13.7297C5.59993 13.9265 5.71113 13.9817 5.86473 13.8425C6.06553 13.6593 8.14473 11.7937 8.14473 11.7937L5.59993 10.4785V13.7297Z"
                                                fill="#E13833" />
                                        </svg>
                                    </span>
                                    Kolerions Group Ltd
                                </h6>
                                <h1 class="wptb-item--title"> <span>We help Making your <br>
                                        dream into Reality</span></h1>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <p class="wptb-item--description">At Kolerions Group Ltd., we are dedicated to guiding
                                individuals and businesses toward
                                growth and success. Headquartered in Northampton, UK, we are a consultancy firm
                                committed
                                to providing comprehensive and tailored solutions across diverse service areas. From
                                recruitment services and study abroad opportunities in countries like the UK, New
                                Zealand,
                                and Australia, to visa assistance, legal and accounting support, and technical/customer
                                care
                                services, we aim to be your trusted partner at every step of the journey. </p>

                            <p class="wptb-item--description">Our expertise also extends to leasing and accommodation,
                                global tours and travel planning,
                                ensuring a smooth transition for individuals and companies worldwide. At Kolerions, we
                                strive
                                to deliver unparalleled support, empowering our clients to achieve their aspirations and
                                realize
                                their potential. </p>
                        </div>
                    </div>
                </div>

                <!-- Slider Image -->
                <div class="wptb-image-single wow fadeInUp">
                    <div class="wptb-item--inner">
                        <div class="wptb-item--image">
                            <img src="/img/background/bg-15.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- About Company -->
        <section class="wptb-about-company-one">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Single Image -->
                        <div class="wptb-image-single wow skewIn">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="/img/11.jpg" alt="img" class="image-main">

                                    <div class="wptb-item-layer">
                                        <div class="wptb-icon-box1 wow fadeInLeft">
                                            <div class="wptb-item--inner flex-start">
                                                <div class="wptb-item--icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="26"
                                                        viewBox="0 0 29 26" fill="none">
                                                        <path
                                                            d="M0 3.25C0 2.38805 0.34241 1.5614 0.951903 0.951903C1.5614 0.34241 2.38805 0 3.25 0H24.75C25.612 0 26.4386 0.34241 27.0481 0.951903C27.6576 1.5614 28 2.38805 28 3.25V10.123C27.9556 10.101 27.911 10.0797 27.866 10.059L27.351 9.821C26.9268 9.62433 26.4673 9.51548 26 9.501V3.25C26 2.56 25.44 2 24.75 2H3.25C2.56 2 2 2.56 2 3.25V20.75C2 21.44 2.56 22 3.25 22H6V18.5C6 17.837 6.26339 17.2011 6.73223 16.7322C7.20107 16.2634 7.83696 16 8.5 16H19.5C19.8283 16 20.1534 16.0647 20.4567 16.1903C20.76 16.3159 21.0356 16.5001 21.2678 16.7322C21.4999 16.9644 21.6841 17.24 21.8097 17.5433C21.9353 17.8466 22 18.1717 22 18.5V19.248L21.293 19.063C20.7489 18.9202 20.1754 18.9345 19.6391 19.1044C19.1027 19.2744 18.6256 19.5929 18.263 20.023L17.327 21.132C16.9956 21.5241 16.7544 21.9842 16.6205 22.4798C16.4866 22.9754 16.4632 23.4944 16.552 24H3.25C2.8232 24 2.40059 23.9159 2.00628 23.7526C1.61197 23.5893 1.25369 23.3499 0.951903 23.0481C0.650112 22.7463 0.410719 22.388 0.247391 21.9937C0.0840637 21.5994 0 21.1768 0 20.75V3.25ZM14 14C15.3261 14 16.5979 13.4732 17.5355 12.5355C18.4732 11.5979 19 10.3261 19 9C19 7.67392 18.4732 6.40215 17.5355 5.46447C16.5979 4.52678 15.3261 4 14 4C12.6739 4 11.4021 4.52678 10.4645 5.46447C9.52678 6.40215 9 7.67392 9 9C9 10.3261 9.52678 11.5979 10.4645 12.5355C11.4021 13.4732 12.6739 14 14 14ZM23.55 13.713L24.029 12.335C24.1184 12.0737 24.2616 11.8342 24.4494 11.6318C24.6372 11.4294 24.8654 11.2687 25.1193 11.1601C25.3732 11.0515 25.647 10.9974 25.9231 11.0014C26.1992 11.0053 26.4713 11.0672 26.722 11.183L27.237 11.421C28.077 11.808 28.781 12.502 28.917 13.424C29.589 17.939 26.036 24.184 21.847 25.851C20.992 26.191 20.047 25.921 19.297 25.376L18.837 25.042C18.6122 24.8786 18.4233 24.6707 18.2822 24.4312C18.141 24.1918 18.0506 23.9259 18.0165 23.65C17.9823 23.3742 18.0052 23.0942 18.0838 22.8276C18.1623 22.561 18.2948 22.3133 18.473 22.1L19.41 20.99C19.778 20.554 20.36 20.37 20.913 20.514L22.934 21.044C24.462 20.045 25.27 18.625 25.358 16.784L23.895 15.272C23.699 15.0693 23.5629 14.8161 23.502 14.5408C23.4411 14.2654 23.4577 13.9795 23.55 13.713Z"
                                                            fill="#E13833" />
                                                    </svg>
                                                </div>
                                                <div class="wptb-item--holder">
                                                    <h5 class="wptb-item--title">Call For Consultation</h5>
                                                    <p class="wptb-item--description">
                                                        <a href="tel:+447349104585">+44 7349104585</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wptb-about-company-one--inner">
                            <div class="wptb-heading">
                                <div class="wptb-item--inner">
                                    <h6 class="wptb-item--subtitle">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                viewBox="0 0 16 16" fill="none">
                                                <path
                                                    d="M14.9119 2.10726L0.787131 7.08487C0.559931 7.16487 0.509531 7.36087 0.779131 7.46806L3.81593 8.68486L5.61593 9.40566L14.4031 2.95286C14.5215 2.86646 14.6575 3.02886 14.5719 3.12166L8.27513 9.93207V9.93366L7.91353 10.3361L8.39273 10.5937L12.3783 12.7393C12.6111 12.8641 12.9127 12.7609 12.9799 12.4721L15.3047 2.45206C15.3679 2.17766 15.1863 2.01046 14.9119 2.10726ZM5.59993 13.7297C5.59993 13.9265 5.71113 13.9817 5.86473 13.8425C6.06553 13.6593 8.14473 11.7937 8.14473 11.7937L5.59993 10.4785V13.7297Z"
                                                    fill="#E13833" />
                                            </svg>
                                        </span>
                                        About Our Company
                                    </h6>
                                    <h1 class="wptb-item--title has-line"> <span>We Empower Your <br> Dreams to
                                            Reality</span></h1>
                                    <p class="wptb-item--description">
                                        At Kolerions Group Ltd., we are dedicated to guiding individuals and businesses
                                        toward growth and success. Headquartered in Northampton, UK, we are a
                                        consultancy firm committed to providing comprehensive and tailored solutions
                                        across diverse service areas. From recruitment services and study abroad
                                        opportunities in countries like the UK, New Zealand, and Australia, to visa
                                        assistance, legal and accounting support, and technical/customer care services,
                                        we aim to be your trusted partner at every step of the journey.
                                    </p>

                                </div>
                            </div>

                            <div class="wptb-list1">
                                <div class="wptb--item wow skewIn" data-wow-delay="700ms">
                                    <div class="wptb-item--icon"><i class="bi bi-check"></i></div>
                                    <div class="wptb-item--text">Dedicated consultancy services helping businesses and
                                        individuals grow globally</div>
                                </div>
                                <div class="wptb--item wow skewIn" data-wow-delay="700ms">
                                    <div class="wptb-item--icon"><i class="bi bi-check"></i></div>
                                    <div class="wptb-item--text">Comprehensive support in recruitment, visa assistance,
                                        legal and accounting services</div>
                                </div>
                                <div class="wptb--item wow skewIn" data-wow-delay="700ms">
                                    <div class="wptb-item--icon"><i class="bi bi-check"></i></div>
                                    <div class="wptb-item--text">Expertise in global tours, travel planning, and smooth
                                        transitions for individuals and companies</div>
                                </div>
                                <div class="wptb--item wow skewIn" data-wow-delay="700ms">
                                    <div class="wptb-item--icon"><i class="bi bi-check"></i></div>
                                    <div class="wptb-item--text">Tailored solutions for success and growth in the global
                                        market</div>
                                </div>

                            </div>

                            <div class="wptb-item--button">
                                <a href="/about" class="btn">
                                    <span class="btn-wrap">
                                        <span class="text-first">Get Started</span>
                                        <span class="text-second">Get Started</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Why Choose -->
        <section class="wptb-why-choose-two pb-0 bg-image"
            style="background-image: url('/img/background/bg-11.jpg');">
            <div class="container">
                <div class="wptb-heading">
                    <div class="wptb-item--inner">
                        <h6 class="wptb-item--subtitle">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                    fill="none">
                                    <path
                                        d="M14.9119 2.10726L0.787131 7.08487C0.559931 7.16487 0.509531 7.36087 0.779131 7.46806L3.81593 8.68486L5.61593 9.40566L14.4031 2.95286C14.5215 2.86646 14.6575 3.02886 14.5719 3.12166L8.27513 9.93207V9.93366L7.91353 10.3361L8.39273 10.5937L12.3783 12.7393C12.6111 12.8641 12.9127 12.7609 12.9799 12.4721L15.3047 2.45206C15.3679 2.17766 15.1863 2.01046 14.9119 2.10726ZM5.59993 13.7297C5.59993 13.9265 5.71113 13.9817 5.86473 13.8425C6.06553 13.6593 8.14473 11.7937 8.14473 11.7937L5.59993 10.4785V13.7297Z"
                                        fill="#E13833" />
                                </svg>
                            </span>
                            Why Choose Us
                        </h6>
                        <h1 class="wptb-item--title"> <span>Reasons To Choose Us</span></h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="wptb-icon-box3 wow fadeInLeft">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--icon"><img src="/img/services/icon-14.png" alt="icon">
                                </div>
                                <div class="wptb-item--holder">
                                    <h4 class="wptb-item--title">Personalized Experience</h4>
                                    <p class="wptb-item--description">Every journey is unique, and we cater to your
                                        specific needs and preferences.</p>
                                </div>
                            </div>
                        </div>

                        <div class="wptb-icon-box3 wow fadeInLeft">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--icon"><img src="/img/services/icon-15.png" alt="icon">
                                </div>
                                <div class="wptb-item--holder">
                                    <h4 class="wptb-item--title">Reliable Support</h4>
                                    <p class="wptb-item--description">24/7 assistance to handle any issues during your
                                        trip.</p>
                                </div>
                            </div>
                        </div>

                        <div class="wptb-icon-box3 wow fadeInLeft">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--icon"><img src="/img/services/icon-16.png" alt="icon">
                                </div>
                                <div class="wptb-item--holder">
                                    <h4 class="wptb-item--title">Global Network</h4>
                                    <p class="wptb-item--description">Partnerships with trusted airlines, hotels, and
                                        tour operators worldwide.</p>
                                </div>
                            </div>
                        </div>

                        <div class="wptb-icon-box3 wow fadeInLeft">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--icon"><img src="/img/services/icon-15.png" alt="icon">
                                </div>
                                <div class="wptb-item--holder">
                                    <h4 class="wptb-item--title">Affordable Pricing</h4>
                                    <p class="wptb-item--description">High-quality services at competitive rates.</p>
                                </div>
                            </div>
                        </div>
                        <p>By choosing Kolerions Group Ltd., you are selecting a partner committed to your success,
                            growth, and satisfaction. Let us help you navigate the path from Guidance to Growth! </p>
                    </div>


                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="wptb-image-single wow skewIn">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="/img/slider/image-1.png" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
            <div
                class="wptb-image-single wptb-image-single--two h-100 position-absolute end-0 top-0 bottom-0 d-none d-md-block wow skewIn">
                <div class="wptb-item--inner h-100">
                    <div class="wptb-item--image h-100">
                        <img src="/img/flag.jpg" alt="img" class=" h-100">
                    </div>
                </div>
            </div>
        </section>

        <!-- Work Process -->
        <section class="wptb-work-process-one">
            <div class="container">
                <div class="wptb-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wptb-item--inner">
                                <h6 class="wptb-item--subtitle">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M14.9119 2.10726L0.787131 7.08487C0.559931 7.16487 0.509531 7.36087 0.779131 7.46806L3.81593 8.68486L5.61593 9.40566L14.4031 2.95286C14.5215 2.86646 14.6575 3.02886 14.5719 3.12166L8.27513 9.93207V9.93366L7.91353 10.3361L8.39273 10.5937L12.3783 12.7393C12.6111 12.8641 12.9127 12.7609 12.9799 12.4721L15.3047 2.45206C15.3679 2.17766 15.1863 2.01046 14.9119 2.10726ZM5.59993 13.7297C5.59993 13.9265 5.71113 13.9817 5.86473 13.8425C6.06553 13.6593 8.14473 11.7937 8.14473 11.7937L5.59993 10.4785V13.7297Z"
                                                fill="#E13833" />
                                        </svg>
                                    </span>
                                    Our Process
                                </h6>
                                <h1 class="wptb-item--title"> <span>Our Approach to Visa & <br>
                                        Immigration Services</span></h1>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <p class="wptb-item--description">At Kolerions Group Ltd., we offer tailored solutions in
                                education and migration, ensuring a seamless experience for our clients.</p>
                        </div>
                    </div>
                </div>

                <div class="wptb-work-process-one--inner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="wptb-process">
                                <div class="wptb-item--inner">
                                    <div class="wptb-item--image">
                                        <img src="/img/process/1.jpg" alt="img">
                                    </div>
                                    <div class="wptb-item--holder">
                                        <div class="wptb-item--icon"><span></span></div>
                                        <h4 class="wptb-item--title">IELTS Preparation and Scoring</h4>
                                        <div class="wptb-item--description">Our experienced team provides comprehensive
                                            IELTS training to help you achieve your desired scores.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="wptb-process">
                                <div class="wptb-item--inner">
                                    <div class="wptb-item--image">
                                        <img src="/img/process/2.jpg" alt="img">
                                    </div>
                                    <div class="wptb-item--holder">
                                        <div class="wptb-item--icon"><span></span></div>
                                        <h4 class="wptb-item--title">Applying For International Universities</h4>
                                        <div class="wptb-item--description">We assist you in applying to top
                                            international universities, ensuring all requirements are met.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="wptb-process">
                                <div class="wptb-item--inner">
                                    <div class="wptb-item--image">
                                        <img src="/img/process/3.jpg" alt="img">
                                    </div>
                                    <div class="wptb-item--holder">
                                        <div class="wptb-item--icon"><span></span></div>
                                        <h4 class="wptb-item--title">Assessment & Visa Submission</h4>
                                        <div class="wptb-item--description">Our experts guide you through the assessment
                                            and visa submission process, ensuring accuracy and efficiency.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonial -->
        <section class="wptb-testimonial-one bg-image pb-0"
            style="background-image: url('/img/background/bg-4.jpg');">
            <div class="container">
                <div class="wptb-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wptb-item--inner">
                                <h6 class="wptb-item--subtitle">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M14.9119 2.10726L0.787131 7.08487C0.559931 7.16487 0.509531 7.36087 0.779131 7.46806L3.81593 8.68486L5.61593 9.40566L14.4031 2.95286C14.5215 2.86646 14.6575 3.02886 14.5719 3.12166L8.27513 9.93207V9.93366L7.91353 10.3361L8.39273 10.5937L12.3783 12.7393C12.6111 12.8641 12.9127 12.7609 12.9799 12.4721L15.3047 2.45206C15.3679 2.17766 15.1863 2.01046 14.9119 2.10726ZM5.59993 13.7297C5.59993 13.9265 5.71113 13.9817 5.86473 13.8425C6.06553 13.6593 8.14473 11.7937 8.14473 11.7937L5.59993 10.4785V13.7297Z"
                                                fill="#E13833" />
                                        </svg>
                                    </span>
                                    Testimonial
                                </h6>
                                <h1 class="wptb-item--title"> <span>Our Client Have Trusted <br>
                                        Us for our work</span></h1>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <p class="wptb-item--description">Kolerions Consultancy was created to provide uniquely designed premium services in the world of education and migration.
                                As people are dreaming more.</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-container swiper-testimonial">
                    <!-- swiper slides -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="wptb-testimonial1">
                                <div class="wptb-item--inner">
                                    <div class="wptb-item--image">
                                        <img src="/img/avatar/4.jpg" alt="img">
                                        <div class="wptb-item--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31"
                                                viewBox="0 0 31 31" fill="none">
                                                <path
                                                    d="M26.2324 22.8729C28.6698 20.2276 28.4244 16.8305 28.4167 16.7917V6.45841C28.4167 6.11584 28.2806 5.7873 28.0383 5.54507C27.7961 5.30283 27.4676 5.16675 27.125 5.16675H19.375C17.9503 5.16675 16.7917 6.32537 16.7917 7.75008V16.7917C16.7917 17.1343 16.9277 17.4629 17.17 17.7051C17.4122 17.9473 17.7408 18.0834 18.0833 18.0834H22.0591C22.0318 18.722 21.841 19.3429 21.5049 19.8866C20.8488 20.9212 19.6127 21.6277 17.8289 21.9842L16.7917 22.1909V25.8334H18.0833C21.678 25.8334 24.4202 24.8375 26.2324 22.8729ZM12.0151 22.8729C14.4537 20.2276 14.207 16.8305 14.1993 16.7917V6.45841C14.1993 6.11584 14.0632 5.7873 13.821 5.54507C13.5787 5.30283 13.2502 5.16675 12.9076 5.16675H5.15761C3.7329 5.16675 2.57428 6.32537 2.57428 7.75008V16.7917C2.57428 17.1343 2.71037 17.4629 2.9526 17.7051C3.19483 17.9473 3.52338 18.0834 3.86595 18.0834H7.8417C7.81441 18.722 7.62361 19.3429 7.28757 19.8866C6.63141 20.9212 5.39528 21.6277 3.61149 21.9842L2.57428 22.1909V25.8334H3.86595C7.46066 25.8334 10.2029 24.8375 12.0151 22.8729Z"
                                                    fill="#00255C" />
                                            </svg>
                                        </div>
                                    </div>

                                    <div class="wptb-item--holder">
                                        <p class="wptb-item--description"> “The personalized experience provided by
                                            Kolerions Consultancy was exceptional. They catered to my specific
                                            needs and preferences, making the entire process smooth and stress-free.”
                                        </p>
                                        <div class="wptb-item--meta">
                                            <div class="wptb-item--meta-left">
                                                <h4 class="wptb-item--title">Noah Garrison</h4>
                                                <h6 class="wptb-item--designation">Student, Thompson River University
                                                </h6>
                                            </div>
                                            <div class="wptb-item--meta-right">
                                                <i class="bi bi-star-fill"></i> 4.8
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="wptb-testimonial1">
                                <div class="wptb-item--inner">
                                    <div class="wptb-item--image">
                                        <img src="/img/avatar/5.jpg" alt="img">
                                        <div class="wptb-item--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31"
                                                viewBox="0 0 31 31" fill="none">
                                                <path
                                                    d="M26.2324 22.8729C28.6698 20.2276 28.4244 16.8305 28.4167 16.7917V6.45841C28.4167 6.11584 28.2806 5.7873 28.0383 5.54507C27.7961 5.30283 27.4676 5.16675 27.125 5.16675H19.375C17.9503 5.16675 16.7917 6.32537 16.7917 7.75008V16.7917C16.7917 17.1343 16.9277 17.4629 17.17 17.7051C17.4122 17.9473 17.7408 18.0834 18.0833 18.0834H22.0591C22.0318 18.722 21.841 19.3429 21.5049 19.8866C20.8488 20.9212 19.6127 21.6277 17.8289 21.9842L16.7917 22.1909V25.8334H18.0833C21.678 25.8334 24.4202 24.8375 26.2324 22.8729ZM12.0151 22.8729C14.4537 20.2276 14.207 16.8305 14.1993 16.7917V6.45841C14.1993 6.11584 14.0632 5.7873 13.821 5.54507C13.5787 5.30283 13.2502 5.16675 12.9076 5.16675H5.15761C3.7329 5.16675 2.57428 6.32537 2.57428 7.75008V16.7917C2.57428 17.1343 2.71037 17.4629 2.9526 17.7051C3.19483 17.9473 3.52338 18.0834 3.86595 18.0834H7.8417C7.81441 18.722 7.62361 19.3429 7.28757 19.8866C6.63141 20.9212 5.39528 21.6277 3.61149 21.9842L2.57428 22.1909V25.8334H3.86595C7.46066 25.8334 10.2029 24.8375 12.0151 22.8729Z"
                                                    fill="#00255C" />
                                            </svg>
                                        </div>
                                    </div>

                                    <div class="wptb-item--holder">
                                        <p class="wptb-item--description"> “Thanks to Kolerions Consultancy, I was
                                            able to apply to top international universities with ease. Their assistance
                                            ensured that all requirements were met, and the process was seamless.”</p>
                                        <div class="wptb-item--meta">
                                            <div class="wptb-item--meta-left">
                                                <h4 class="wptb-item--title">Ashley Jonathon</h4>
                                                <h6 class="wptb-item--designation">Student, Vancouver Island University
                                                </h6>
                                            </div>
                                            <div class="wptb-item--meta-right">
                                                <i class="bi bi-star-fill"></i> 4.2
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="wptb-testimonial1">
                                <div class="wptb-item--inner">
                                    <div class="wptb-item--image">
                                        <img src="/img/avatar/4.jpg" alt="img">
                                        <div class="wptb-item--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31"
                                                viewBox="0 0 31 31" fill="none">
                                                <path
                                                    d="M26.2324 22.8729C28.6698 20.2276 28.4244 16.8305 28.4167 16.7917V6.45841C28.4167 6.11584 28.2806 5.7873 28.0383 5.54507C27.7961 5.30283 27.4676 5.16675 27.125 5.16675H19.375C17.9503 5.16675 16.7917 6.32537 16.7917 7.75008V16.7917C16.7917 17.1343 16.9277 17.4629 17.17 17.7051C17.4122 17.9473 17.7408 18.0834 18.0833 18.0834H22.0591C22.0318 18.722 21.841 19.3429 21.5049 19.8866C20.8488 20.9212 19.6127 21.6277 17.8289 21.9842L16.7917 22.1909V25.8334H18.0833C21.678 25.8334 24.4202 24.8375 26.2324 22.8729ZM12.0151 22.8729C14.4537 20.2276 14.207 16.8305 14.1993 16.7917V6.45841C14.1993 6.11584 14.0632 5.7873 13.821 5.54507C13.5787 5.30283 13.2502 5.16675 12.9076 5.16675H5.15761C3.7329 5.16675 2.57428 6.32537 2.57428 7.75008V16.7917C2.57428 17.1343 2.71037 17.4629 2.9526 17.7051C3.19483 17.9473 3.52338 18.0834 3.86595 18.0834H7.8417C7.81441 18.722 7.62361 19.3429 7.28757 19.8866C6.63141 20.9212 5.39528 21.6277 3.61149 21.9842L2.57428 22.1909V25.8334H3.86595C7.46066 25.8334 10.2029 24.8375 12.0151 22.8729Z"
                                                    fill="#00255C" />
                                            </svg>
                                        </div>
                                    </div>

                                    <div class="wptb-item--holder">
                                        <p class="wptb-item--description"> “I am extremely grateful to Kolerions
                                            Consultancy for making my dream true. The helped me process my visa for
                                            Canada. It has accepted in record time.”</p>
                                        <div class="wptb-item--meta">
                                            <div class="wptb-item--meta-left">
                                                <h4 class="wptb-item--title">Bob Garrison</h4>
                                                <h6 class="wptb-item--designation">Student, San-Fransisco University
                                                </h6>
                                            </div>
                                            <div class="wptb-item--meta-right">
                                                <i class="bi bi-star-fill"></i> 4.9
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- pagination dots -->
                    <div class="wptb-swiper-dots">
                        <div class="swiper-pagination"></div>
                    </div>
                    <!-- !pagination dots -->
                </div>
            </div>
        </section>
    </main>

    <!-- Footer 2 -->
    <footer class="footer style2" style="background-color: #00112A;">
        <div class="footer-top">
            <div class="container">
                <div class="footer-upper-contact">
                    <div class="row">
                        <!-- Left Box -->
                        <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
                            <div class="logo">
                                <a href="/" class="light_logo"><img style="width: 150px;"
                                        src="/img/logo.png" alt="logo"></a>
                            </div>
                        </div>

                        <!-- Right Box -->
                        <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
                            <div class="wptb-icon-box1 wow fadeInLeft">
                                <div class="wptb-item--inner flex-start">
                                    <div class="wptb-item--icon"><i class="bi bi-buildings"></i></div>
                                    <div class="wptb-item--holder">
                                        <p class="wptb-item--description">Headquartered In <br /> Northampton, UK
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
                            <div class="wptb-icon-box1 wow fadeInLeft">
                                <div class="wptb-item--inner flex-start">
                                    <div class="wptb-item--icon"><i class="bi bi-telephone-fill"></i></div>
                                    <div class="wptb-item--holder">
                                        <p class="wptb-item--description"><a style="color: white;"
                                                href="tel:+447349104585 ">+44 7349104585 </a></p>
                                        <p class="wptb-item--description"><a style="color: white;"
                                                href="https://wa.me/+786784556892">+44 7349104585 </a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
                            <div class="social-box">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=61570112011468" target="_blank"
                                            class="bi bi-facebook"></a></li>
                                    <li><a href="https://www.instagram.com/kolerionsgroup/" target="_blank" class="bi bi-instagram"></a>
                                    </li>
                                    <li><a href="https://www.linkedin.com/" target="_blank" class="bi bi-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-5 mb-5 mb-xl-0">
                        <h3 class="text-white"> We are shaping your dream future</h3>
                        <p class="text-white">We are dedicated to providing exceptional service and support to help you
                            achieve your goals.</p>
                        <h6 class="widget-title lg">OUR VISA IMMIGRATION SERVICES</h6>


                        <a href="/contact" class="btn mt-4">
                            <span class="btn-wrap">
                                <span class="text-first">Get Consultancy</span>
                                <span class="text-second">Get Consultancy</span>
                            </span>
                        </a>
                    </div>

                    <div class="col-xl-7">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 mb-5 mb-md-0">
                                <div class="footer-widget footer-links">
                                    <h5 class="widget-title">Useful Links</h5>
                                    <div class="footer-nav">
                                        <ul>
                                            <li class="menu-item"><a href="/"><i class="bi bi-circle-fill"></i>
                                                    Home</a></li>
                                            <li class="menu-item"><a href="/services"><i
                                                        class="bi bi-circle-fill"></i> Services</a></li>
                                            <li class="menu-item"><a href="/about"><i class="bi bi-circle-fill"></i>
                                                    About Us</a></li>
                                            <li class="menu-item"><a href="/blogs"><i class="bi bi-circle-fill"></i>
                                                    Blogs</a></li>
                                            <li class="menu-item"><a href="/contact"><i
                                                        class="bi bi-circle-fill"></i> Contact Us</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 mb-5 mb-md-0">
                                <div class="footer-widget footer-links">
                                    <h5 class="widget-title">Main Services</h5>
                                    <div class="footer-nav">
                                        <ul>
                                            <li class="menu-item"><a href="/recruiting"><i
                                                        class="bi bi-circle-fill"></i> Recruiting</a></li>
                                            <li class="menu-item"><a href="/visa-support"><i
                                                        class="bi bi-circle-fill"></i> Visa Support</a></li>
                                            <li class="menu-item"><a href="/technical-support"><i
                                                        class="bi bi-circle-fill"></i> Technical/Customer Support</a>
                                            </li>
                                            <li class="menu-item"><a href="/legal-accounting"><i
                                                        class="bi bi-circle-fill"></i> Legal and Accounting</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 mb-5 mb-md-0">
                                <div class="footer-widget footer-links">
                                    <h5 class="widget-title">Main Services</h5>
                                    <div class="footer-nav">
                                        <ul>
                                            <li class="menu-item"><a href="/study-abroad"><i
                                                        class="bi bi-circle-fill"></i> Study Abroad</a></li>
                                            <li class="menu-item"><a href="/accommodation"><i
                                                        class="bi bi-circle-fill"></i> Accommodation</a></li>
                                            <li class="menu-item"><a href="/tours-travels"><i
                                                        class="bi bi-circle-fill"></i> Global Tours and Travels</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom Part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-inner">
                    <div class="copyright">
                        <p>&copy;Copyright 2025 <a style="color: rgb(9, 122, 9);"
                                href="/">Kolerions Group</a>. All
                            rights reserved. Developed by <a style="color: rgb(19, 109, 151);"
                                href="https://trivlogic.com">Trivlogic Private Limited</a></p>
                    </div>
                    <div class="footer-nav-bottom">
                        <ul>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/gdpr-policy">GDPR Privacy Policy</a></li>
                            <li><a href="/terms-and-conditions">Terms and conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

 <div class="d-xl-none" id="mobilenavbar"
        style="position: fixed; bottom: 0; width: 100%; background-color: #ffffff; box-shadow: 0 -2px 5px rgba(0,0,0,0.1); z-index: 1000;">
        <div class="container">
            <div class="row text-center" style="padding-top: 5px;">
                <div class="col">
                    <a href="/" class="d-block py-2">
                        <img src="/img/icons/home.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px; color: #919191;font-weight: 600;">Home</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/services" class="d-block py-2">
                        <img src="/img/icons/travel.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px; color: #919191;font-weight: 600;">Services</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/about" class="d-block py-2">
                        <img src="/img/icons/passport.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px;color: #257731;font-weight: 600;">About</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/blogs" class="d-block py-2">
                        <img src="/img/icons/social-media.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px;color: #919191;font-weight: 600;">Blogs</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/contact" class="d-block py-2">
                        <img src="/img/icons/phone-book.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px;color: #919191;font-weight: 600;">Contact</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="totop">
        <a href="#"><i class="bi bi-chevron-up"></i></a>
    </div>


    <!-- Core JS -->
    <script src="/js/jquery-3.6.0.min.js"></script>

    <!-- Framework -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- WOW Scroll Effect -->
    <script src="/plugins/wow/wow.min.js"></script>

    <!-- Swiper Slider -->
    <script src="/plugins/swiper/swiper-bundle.min.js"></script>

    <!-- Odometer Counter -->
    <script src="/plugins/odometer/appear.js"></script>
    <script src="/plugins/odometer/odometer.js"></script>

    <!-- Fancybox -->
    <script src="/plugins/fancybox/jquery.fancybox.min.js"></script>

    <!-- Flatpickr -->
    <script src="/plugins/flatpickr/flatpickr.min.js"></script>

    <!-- Nice Select -->
    <script src="/plugins/nice-select/jquery.nice-select.min.js"></script>

    <!-- Theme Custom JS -->
    <script src="/js/theme.js"></script>
</body>

</html>