<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Kolerions Group -from Guidance to Growth">
    <meta name="author" content="Kolerions Group -from Guidance to Growth">

    <!-- Favicon and touch Icons -->
    <link href="/img/logo.png" rel="shortcut icon" type="image/png">
    <link href="/img/apple-touch-icon.html" rel="apple-touch-icon">
    <link href="/img/apple-touch-icon-72x72.html" rel="apple-touch-icon" sizes="72x72">
    <link href="/img/apple-touch-icon-114x114.html" rel="apple-touch-icon" sizes="114x114">
    <link href="/img/apple-touch-icon-144x144.html" rel="apple-touch-icon" sizes="144x144">

    <!-- Page Title -->
    <title>Kolerions-visa-support</title>

    <!-- Styles Include -->
    <link rel="stylesheet" href="/css/main.css">

</head>


<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader-inner">
            <div class="spinner"></div>
            <div class="loading-text">
                <span data-preloader-text="K" class="characters">K</span>

                <span data-preloader-text="O" class="characters">O</span>

                <span data-preloader-text="L" class="characters">L</span>

                <span data-preloader-text="E" class="characters">E</span>

                <span data-preloader-text="R" class="characters">R</span>

                <span data-preloader-text="I" class="characters">I</span>

                <span data-preloader-text="O" class="characters">O</span>

                <span data-preloader-text="N" class="characters">N</span>
            </div>
        </div>
    </div>

    <!-- Main Header -->
    <header class="header">
        <!-- Top Bar -->
        <div class="header-top">
            <div class="container">
                <div class="d-none d-xl-flex justify-content-between align-items-center flex-wrap">
                    <!-- Left Box -->
                    <div class="left-box d-flex align-items-center">
                        <!-- Social Box -->
                        <div class="social-box">
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=61570112011468" target="_blank"
                                        class="bi bi-facebook"></a></li>
                                <li><a href="https://www.instagram.com/kolerionsgroup/" target="_blank" class="bi bi-instagram"></a>
                                </li>
                                <li><a href="https://www.twitter.com/" target="_blank" class="bi bi-twitter-x"></a></li>
                                <li><a href="https://www.linkedin.com/" target="_blank" class="bi bi-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Right Box -->
                    <div class="right-box d-flex align-items-center">
                        <ul class="info-list">
                            <li><a href="mailto:info@kolerionsgroup.com"><span
                                        class="icon bi bi-envelope-fill"></span>info@kolerionsgroup.com </a></li>
                            <li><a href="/"><span class="icon bi bi-geo-alt-fill"></span>Northampton, UK</a></li>
                        </ul>

                        <!-- Button Box -->
                        <div class="button-box">
                            <a href="tel:+447349104585" class="btn active clearfix">
                                <span><img src="/img/icon_chat.png" alt="chat icon"></span>
                                <span class="btn-wrap">
                                    <span class="text-first">+44 7349104585</span>
                                    <span class="text-second">+44 7349104585</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lower Bar -->
        <div class="header-inner">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <!-- Left Part -->
                    <div class="header_left_part d-flex align-items-center">
                        <div class="logo">
                            <a href="/" class="light_logo"><img src="/img/logo.png" alt="logo"></a>
                        </div>
                    </div>

                    <!-- Right Part -->
                    <div class="header_right_part d-flex align-items-center">
                        <div class="mainnav d-none d-xl-block">
                            <ul class="main-menu">
                                <li><a href="/">Home</a>
                                </li>
                                <li class="menu-item menu-item-has-children"><a href="/services" style="color: #257731;">Services</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="/recruiting">Recruiting</a></li>
                                        <li class="menu-item"><a href="/visa-support" style="color: #257731;">Visa Support</a></li>
                                        <li class="menu-item"><a href="/technical-support">Technical/Customer Assist
                                                Support</a></li>
                                        <li class="menu-item"><a href="/legal-accounting">Legal and Accounting</a></li>
                                        <li class="menu-item"><a href="/study-abroad">Study Abroad</a></li>
                                        <li class="menu-item"><a href="/accommodation">Accommodation</a></li>
                                        <li class="menu-item"><a href="/tours-travels">Global Tours and Travels</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/about">About Us</a>
                                </li>
                                <li><a href="/blogs">Blogs</a>
                                </li>
                                <li><a href="/contact">Contact Us</a>
                                </li>

                            </ul>
                        </div>

                        <div class="header_search">

                        </div>

                        <button class="aside_open">
                            <img src="/img/icon_grid.png" alt="img">
                        </button>

                        <button type="button" class="mr_menu_toggle d-xl-none">
                            <i class="bi bi-list"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Main Header -->

    <!-- Mobile Responsive Menu -->
    <div class="mr_menu">
        <button type="button" class="mr_menu_close"><i class="bi bi-x-lg"></i></button>
        <div class="logo"></div>
        <div class="mr_navmenu"></div>
    </div>

    <!-- Aside Info -->
    <div class="aside_info_wrapper">
        <button class="aside_close"><i class="bi bi-x-lg"></i></button>
        <div class="aside_logo">
            <a href="/"><img src="/img/logo.png" alt="logo"></a>
        </div>
        <div class="aside_info_inner">

            <h5>About Us</h5>

            <p>Kolerion is a full-service consultation firm with record of winning many successful campaigns. For a
                growing business firm we provide market research & competitor analysis before a product launch in
                market.</p>

            <div class="aside_info_inner_box">
                <h5>Contact Info</h5>
                <p><a href="mailto:info@kolerionsgroup.com">info@kolerionsgroup.com</a></p>
                <p><a href="tel:+447349104585">+44 7349104585</a></p>
                <p>Northampton, UK</p>
            </div>
            <div class="social_sites">
                <ul class="d-flex align-items-center justify-content-center">
                    <li><a href="https://www.facebook.com/profile.php?id=61570112011468" target="_blank"><i
                                class="bi bi-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="bi bi-twitter-x"></i></a></li>
                    <li><a href="https://www.instagram.com/kolerionsgroup/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Main Wrapper-->
    <main class="wrapper">
        <!-- Page Header -->
        <div class="wptb-page-heading" style="background-image: url('/img/background/page-header-bg.jpg');">
            <div class="container">
                <div class="wptb-item--inner">
                    <h2 class="wptb-item--title ">Visa Support</h2>
                    <div class="wptb-breadcrumb-wrap">
                        <ul class="wptb-breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li><a href="/services">Services</a></li>
                            <li><span>Visa Support</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Details Content -->
        <section class="blog-details">
            <div class="container">
                <div class="row">

                    <!-- Service Navigation List -->
                    <div class="col-lg-4 col-md-5 pe-md-5">
                        <div class="sidebar">
                            <div class="sidenav">
                                <ul class="side_menu">
                                    <li class="menu-item ">
                                        <a href="/recruiting"
                                            class="d-flex align-items-center justify-content-between">
                                            <span>
                                                <img src="/img/country/recruitment.png" width="30" height="30" alt="Recruiting Icon">
                                                Recruiting
                                            </span>
                                            <i class="bi bi-chevron-right"></i>
                                        </a>
                                    </li>

                                    <li class="menu-item active">
                                        <a href="/visa-support"
                                            class="d-flex align-items-center justify-content-between">
                                            <span>
                                                <img src="/img/country/travel.png" width="30" height="30" alt="Recruiting Icon">
                                                Visa Support
                                            </span>
                                            <i class="bi bi-chevron-right"></i>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/technical-support"
                                            class="d-flex align-items-center justify-content-between">
                                            <span>
                                                <img src="/img/country/service.png" width="30" height="30" alt="Recruiting Icon">
                                                Technical/Customer Assist Support
                                            </span>
                                            <i class="bi bi-chevron-right"></i>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/legal-accounting"
                                            class="d-flex align-items-center justify-content-between">
                                            <span>
                                                <img src="/img/country/legal.png" width="30" height="30" alt="Recruiting Icon">
                                                Legal and Accounting
                                            </span>
                                            <i class="bi bi-chevron-right"></i>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/study-abroad"
                                            class="d-flex align-items-center justify-content-between">
                                            <span>
                                                <img src="/img/country/study-abroad.png" width="30" height="30" alt="Recruiting Icon">
                                                Study Abroad
                                            </span>
                                            <i class="bi bi-chevron-right"></i>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/accommodation"
                                            class="d-flex align-items-center justify-content-between">
                                            <span>
                                                <img src="/img/country/accomodation.png" width="30" height="30" alt="Recruiting Icon">
                                                Accommodation
                                            </span>
                                            <i class="bi bi-chevron-right"></i>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/tours-travels"
                                            class="d-flex align-items-center justify-content-between">
                                            <span>
                                                <img src="/img/country/tour-guide.png" width="30" height="30" alt="Recruiting Icon">
                                                Global Tours and Travels
                                            </span>
                                            <i class="bi bi-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="wptb-banner2 mr-top-30">
                                <div class="wptb-banner-inner">
                                    <a class="wptb-item--link" href="tel:+447349104585"></a>

                                    <div class="wptb-item--image">
                                        <div class="wptb-item-img-primary " data-wow-delay="ms">
                                            <img src="/img/services/7.jpg" alt="">
                                        </div>
                                    </div>

                                    <div class="wptb-wrap-content">
                                        <div class="wptb-wrap-shape">
                                            <svg class="wptb-svg-1" width="422" height="328" viewBox="0 0 422 328"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M0.287109 240.142C20.2871 205.285 96.63 135.228 242.001 133.856C385.076 132.507 421.433 46.9123 422.001 2.26061V0.14209C422.01 0.837364 422.011 1.54371 422.001 2.26061V327.571H0.287109V240.142Z">
                                                </path>
                                            </svg>
                                            <svg class="wptb-svg-2" width="422" height="329" viewBox="0 0 422 329"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M199.142 146.428C96.2852 139.571 23.7137 193.857 0.285156 221.857V328.142H421.999V0.713623C387.714 112.142 327.714 154.999 199.142 146.428Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="wptb-content">
                                            <div class="wptb-item--title">Visa Support</div>
                                            <div class="wptb-item-contact-info">
                                                <div class="wptb-item--icon">
                                                    <i class="bi bi-telephone-fill"></i>
                                                </div>
                                                <span class="wptb-item--desc">Need Help? Call Us</span>
                                                <h5 class="wptb-item--number">+44 7349104585</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 mt-5 mt-md-0">
                        <div class="blog-details-inner">
                            <div class="post-content">
                                <div class="post-header mt-0">
                                    <h1 class="post-title">Visa Support: Hassle-Free Immigration Solutions</h1>
                                </div>
                                <div class="fulltext">
                                    <p>Our visa support services make the immigration process easy and efficient, ensuring that your 
                                        employees can focus on their roles while we handle the complexities of visa arrangements. With 
                                        expertise in a variety of visa types, we offer comprehensive assistance tailored to meet the 
                                        unique needs of each industry. </p>
                    
                                    <h4 class="widget-title">Visa Support</h4>
                    
                                    <h5>1. End-to-End Guidance</h5>
                                    <p> We guide both employers and candidates through each step of the 
                                        visa process, providing clarity on requirements and handling documentation to ensure a smooth 
                                        application. Our team stays up-to-date with changing regulations, helping you avoid delays and 
                                        ensuring full compliance. </p>
                    
                                    <h5>2. Document Preparation and Submission</h5>
                                    <p> We take care of gathering, reviewing, and 
                                        submitting all necessary documentation, reducing the risk of errors that could lead to application 
                                        delays. Our detail-oriented approach ensures that every application meets the highest standards.</p>
                    
                                    <h5>3. Visa Tracking and Updates</h5>
                                    <p>Once applications are submitted, we provide regular status 
                                        updates and follow up with relevant authorities to ensure timely processing. You can rely on us 
                                        for peace of mind throughout the process. </p>
                    
                                    <h5>4. Specialized Support for Work Permits and Renewals</h5>
                                    <p>From initial applications to renewals, 
                                        we offer full support for work permits and visa renewals, ensuring that your team remains legally 
                                        eligible to work without interruptions.</p>
                    
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="image-post">
                                                <img src="/img/services/vissa1.jpg" alt="img">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="image-post">
                                                <img src="/img/services/vissa2.jpg" alt="img">
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="wptb-accordion wptb-accordion2 wow fadeInUp">
                                        <div class="wptb--item active">
                                            <h6 class="wptb-item-title"><span>Q1. What types of visas do you support?</span> <i class="plus bi bi-plus"></i> <i class="minus bi bi-dash"></i></h6>
                                            <div class="wptb-item--content">
                                                We support a wide range of visa types, including work visas, student visas, family visas, and business visas. Our expertise covers various visa categories to meet the unique needs of different industries and individuals.
                                            </div>
                                        </div>
                                    
                                        <div class="wptb--item">
                                            <h6 class="wptb-item-title"><span>Q2. How do you assist with the visa application process?</span> <i class="plus bi bi-plus"></i> <i class="minus bi bi-dash"></i></h6>
                                            <div class="wptb-item--content">
                                                We provide end-to-end guidance throughout the visa application process, including helping employers and candidates understand requirements, handling documentation, and ensuring compliance with regulations to avoid delays.
                                            </div>
                                        </div>
                                    
                                        <div class="wptb--item">
                                            <h6 class="wptb-item-title"><span>Q3. What is included in your document preparation and submission services?</span> <i class="plus bi bi-plus"></i> <i class="minus bi bi-dash"></i></h6>
                                            <div class="wptb-item--content">
                                                Our services include gathering, reviewing, and submitting all necessary documentation for visa applications. We meticulously check every document to reduce the risk of errors and ensure the application meets the highest standards.
                                            </div>
                                        </div>
                                    
                                        <div class="wptb--item">
                                            <h6 class="wptb-item-title"><span>Q4. How do you track visa application statuses?</span> <i class="plus bi bi-plus"></i> <i class="minus bi bi-dash"></i></h6>
                                            <div class="wptb-item--content">
                                                We provide regular status updates and follow up with relevant authorities to ensure timely processing. You can rely on us for peace of mind throughout the visa application process.
                                            </div>
                                        </div>
                                    
                                        <div class="wptb--item">
                                            <h6 class="wptb-item-title"><span>Q5. Do you offer support for visa renewals?</span> <i class="plus bi bi-plus"></i> <i class="minus bi bi-dash"></i></h6>
                                            <div class="wptb-item--content">
                                                Yes, we offer full support for work permits and visa renewals, from initial applications to renewals, ensuring that your team remains legally eligible to work without interruptions.
                                            </div>
                                        </div>
                                    </div>
                                    
                    
                                    <h4 class="widget-title">Hassle-Free Immigration Solutions </h4>
                                    <div class="image-post">
                                        <img src="/img/services/vissa3.jpg" alt="img">
                                    </div>
                             
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </section>
        <!-- End Details Content -->

    </main>

    <!-- Footer 2 -->
    <footer class="footer style2" style="background-color: #00112A;margin-bottom: 60px;">
        <div class="footer-top">
            <div class="container">
                <div class="footer-upper-contact">
                    <div class="row">
                        <!-- Left Box -->
                        <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
                            <div class="logo">
                                <a href="/" class="light_logo"><img style="width: 150px;"
                                        src="/img/logo.png" alt="logo"></a>
                            </div>
                        </div>

                        <!-- Right Box -->
                        <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
                            <div class="wptb-icon-box1 wow fadeInLeft">
                                <div class="wptb-item--inner flex-start">
                                    <div class="wptb-item--icon"><i class="bi bi-buildings"></i></div>
                                    <div class="wptb-item--holder">
                                        <p class="wptb-item--description">Headquartered In <br /> Northampton, UK
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
                            <div class="wptb-icon-box1 wow fadeInLeft">
                                <div class="wptb-item--inner flex-start">
                                    <div class="wptb-item--icon"><i class="bi bi-telephone-fill"></i></div>
                                    <div class="wptb-item--holder">
                                        <p class="wptb-item--description"><a style="color: white;"
                                                href="tel:+447349104585 ">+44 7349104585 </a></p>
                                        <p class="wptb-item--description"><a style="color: white;"
                                                href="https://wa.me/+447349104585">+44 7349104585 </a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
                            <div class="social-box">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=61570112011468" target="_blank"
                                            class="bi bi-facebook"></a></li>
                                    <li><a href="https://www.instagram.com/kolerionsgroup/" target="_blank" class="bi bi-instagram"></a>
                                    </li>
                                    <li><a href="https://www.linkedin.com/" target="_blank" class="bi bi-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-5 mb-5 mb-xl-0">
                        <h3 class="text-white"> We are shaping your dream future</h3>
                        <p class="text-white">We are dedicated to providing exceptional service and support to help you
                            achieve your goals.</p>
                        <h6 class="widget-title lg">OUR VISA IMMIGRATION SERVICES</h6>


                        <a href="/contact" class="btn mt-4">
                            <span class="btn-wrap">
                                <span class="text-first">Get Consultancy</span>
                                <span class="text-second">Get Consultancy</span>
                            </span>
                        </a>
                    </div>

                    <div class="col-xl-7">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 mb-5 mb-md-0">
                                <div class="footer-widget footer-links">
                                    <h5 class="widget-title">Useful Links</h5>
                                    <div class="footer-nav">
                                        <ul>
                                            <li class="menu-item"><a href="/"><i class="bi bi-circle-fill"></i>
                                                    Home</a></li>
                                            <li class="menu-item"><a href="/services"><i
                                                        class="bi bi-circle-fill"></i> Services</a></li>
                                            <li class="menu-item"><a href="/about"><i class="bi bi-circle-fill"></i>
                                                    About Us</a></li>
                                            <li class="menu-item"><a href="/blogs"><i class="bi bi-circle-fill"></i>
                                                    Blogs</a></li>
                                            <li class="menu-item"><a href="/contact"><i
                                                        class="bi bi-circle-fill"></i> Contact Us</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 mb-5 mb-md-0">
                                <div class="footer-widget footer-links">
                                    <h5 class="widget-title">Main Services</h5>
                                    <div class="footer-nav">
                                        <ul>
                                            <li class="menu-item"><a href="/recruiting"><i
                                                        class="bi bi-circle-fill"></i> Recruiting</a></li>
                                            <li class="menu-item"><a href="/visa-support"><i
                                                        class="bi bi-circle-fill"></i> Visa Support</a></li>
                                            <li class="menu-item"><a href="/technical-support"><i
                                                        class="bi bi-circle-fill"></i> Technical/Customer Support</a>
                                            </li>
                                            <li class="menu-item"><a href="/legal-accounting"><i
                                                        class="bi bi-circle-fill"></i> Legal and Accounting</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 mb-5 mb-md-0">
                                <div class="footer-widget footer-links">
                                    <h5 class="widget-title">Main Services</h5>
                                    <div class="footer-nav">
                                        <ul>
                                            <li class="menu-item"><a href="/study-abroad"><i
                                                        class="bi bi-circle-fill"></i> Study Abroad</a></li>
                                            <li class="menu-item"><a href="/accommodation"><i
                                                        class="bi bi-circle-fill"></i> Accommodation</a></li>
                                            <li class="menu-item"><a href="/tours-travels"><i
                                                        class="bi bi-circle-fill"></i> Global Tours and Travels</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom Part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-inner">
                    <div class="copyright">
                        <p>&copy;Copyright 2024 <a style="color: rgb(9, 122, 9);"
                                href="/">Kolerions Group</a>. All
                            rights reserved. Developed by <a style="color: rgb(19, 109, 151);"
                                href="https://trivlogic.com">Trivlogic Private Limited</a></p>
                    </div>
                    <div class="footer-nav-bottom">
                        <ul>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/gdpr-policy">GDPR Privacy Policy</a></li>
                            <li><a href="/terms-and-conditions">Terms and conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

 <div class="d-xl-none" id="mobilenavbar"
        style="position: fixed; bottom: 0; width: 100%; background-color: #ffffff; box-shadow: 0 -2px 5px rgba(0,0,0,0.1); z-index: 1000;">
        <div class="container">
            <div class="row text-center" style="padding-top: 5px;">
                <div class="col">
                    <a href="/" class="d-block py-2">
                        <img src="/img/icons/home.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px; color: #919191;font-weight: 600;">Home</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/services" class="d-block py-2">
                        <img src="/img/icons/travel.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px; color: #257731;font-weight: 600;">Services</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/about" class="d-block py-2">
                        <img src="/img/icons/passport.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px;color: #919191;font-weight: 600;">About</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/blogs" class="d-block py-2">
                        <img src="/img/icons/social-media.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px;color: #919191;font-weight: 600;">Blogs</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/contact" class="d-block py-2">
                        <img src="/img/icons/phone-book.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px;color: #919191;font-weight: 600;">Contact</p>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="totop">
        <a href="#"><i class="bi bi-chevron-up"></i></a>
    </div>


    <!-- Core JS -->
    <script src="/js/jquery-3.6.0.min.js"></script>

    <!-- Framework -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- WOW Scroll Effect -->
    <script src="/plugins/wow/wow.min.js"></script>

    <!-- Swiper Slider -->
    <script src="/plugins/swiper/swiper-bundle.min.js"></script>

    <!-- Odometer Counter -->
    <script src="/plugins/odometer/appear.js"></script>
    <script src="/plugins/odometer/odometer.js"></script>

    <!-- Fancybox -->
    <script src="/plugins/fancybox/jquery.fancybox.min.js"></script>

    <!-- Flatpickr -->
    <script src="/plugins/flatpickr/flatpickr.min.js"></script>

    <!-- Nice Select -->
    <script src="/plugins/nice-select/jquery.nice-select.min.js"></script>

    <!-- Theme Custom JS -->
    <script src="/js/theme.js"></script>
</body>

</html>